
<div>
	<section class="entry">
	  <h2>Authentication &amp; Authorisation</h2>
	  <% if current_user %>
	    Welcome, <%= current_user.name %>!
	    <%= link_to "Sign Out", signout_path, id: "sign_out", method: :delete %>
	  <% else %>
	    <%= link_to "Sign in with Twitter", "/auth/twitter" %> <br/>
	    <%= link_to "Sign in with Facebook", "/auth/facebook" %>

			<div>
			  <strong>Don&rsquo;t use these services?</strong>
			  <%= link_to "Create an account", "/auth/identity/register" %> or
			  <%= link_to "login", "/auth/identity" %> with a password.
			</div>
	  <% end %>
  </section>
</div>
