
<div>
	<ol>
		<li><%= link_to "Authentication & Authorisation", app_path(:auth) %></li>
		<li><%= link_to "Nested Routes", app_path(:nested) %></li>
		<li><%= link_to "Load Content via AJAX", app_path(:ajax) %></li>
		<li><%= link_to "Polymorphic Associations", app_path(:polym) %></li>
		<li><%= link_to "Rails Caching", app_path(:caching) %></li>
		<li><%= link_to "M2M Self-associated with Extra Attributes", app_path(:m2m) %></li>
	</ol>
</div>
