<h1>Listing reviews</h1>

<table id="reviews">
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Reviewer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reviews.each do |review| %>
  <tr>
    <td><%= review.title %></td>
    <td><%= review.body %></td>
    <td><%= review.reviewer %></td>
    <td><%= link_to 'Show', reviewable_review_path(reviewable, review) %></td>
    <td><%= link_to 'Edit', edit_reviewable_review_path(reviewable, review) %></td>
    <td><%= link_to 'Destroy', reviewable_review_path(reviewable, review), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Review', new_reviewable_review_path(reviewable) %>
