<p>
  <b>Title:</b>
  <%= @review.title %>
</p>

<p>
  <b>Body:</b>
  <%= @review.body %>
</p>

<p>
  <b>Reviewer:</b>
  <%= @review.reviewer %>
</p>


<%= link_to 'Edit', edit_reviewable_review_path(reviewable, @review) %> |
<%= link_to 'Back', reviewable_reviews_path(reviewable) %>
