<!DOCTYPE html>
<html>
<head>
  <title>TryOut</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<h1><%= link_to "Try Out", "/" %></h1>
		<section>
			<% if current_user %>
		    Welcome, <%= current_user.name %>!
		    <%= link_to "Sign Out", signout_path, method: :delete %>
		  <% else %>
		    <%= link_to "login", "/auth/identity" %>
		  <% end %>
		</section>
	</header>

<% if flash[:notice] %>
	<p id="notice" ><%= flash[:notice] %></p>
<% end %>
<% if flash[:alert] %>
	<p id="alert" ><%= flash[:alert] %></p>
<% end %>

<%= yield %>

</body>
</html>
